
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/


.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml


.vscode/


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/
project.lock.json
project.fragment.lock.json


*.log
*.tlog
*.cache
*.tmp
*.temp


TestResult*/
*.VisualState.xml
*.testsettings
*.coverage
*.coveragexml
*.trx


*.userprefs


appsettings.json
appsettings.*.json


*.mdf
*.ldf
Migrations/


*.db
*.sqlite
*.swp
*.bak
*.orig
